<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
<title>{% block title %} Flask fileserver {% endblock %}</title>
<h1 class="title"> {{dir}} </h1>
<br>
<div>
{% for item in entries%}
  <a class="entry-link" href="{{item['href']}}"><div class="entry"><p class="entry {{'entry-' + item['type']}}"> {{item['value']}} </p></a>
{% endfor %}
</div>
</body>
</html>
