<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
<title>{% block title %} Flask fileserver {% endblock %}</title>
<h1 class="title"> {{dir}} </h1>
<br>
<div>
{% for item in entries if not entries[0]['type'] == "empty" %}
  <a href="{{item['href']}}"><p class="{{'entry-' + item['type']}}"> {{item['value']}} </p></a>
{% endfor %}
{% if entries[0]['type'] == "empty" %}
  <p class="empty-dir"> Directory is empty </p>
{% endif %}
</div>
</body>
</html>
